*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100vw;
}
#root{
  height: 100%;
  width: 100%;
}
.App{
  height: 100%;
  width: 100%;
  /* background-color: burlywood; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.main{
  height: 100%;
  width: 100%;
  background-color: #80d0c7;
  background-image: linear-gradient(180deg, #80d0c7 0%, #3880ad 33%, #016d9d 66%, #010e19 100%);
  /* color: white; */
}

.details{
  height: auto;
  width: 100%;
  background-color: chocolate;
  font-size: 20px;
  font-weight: 400;
}
.detailsIcon{
  background-color: bisque;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details h1{
  font-size: 50px;
  font-weight: bold;
}
.details p{
  font-size: 14px;
  font-weight: 500;
  /* word-spacing:20px; */
}
.detailsPerDay{
  height: 100px;
  width: 100%;
  background-color: blueviolet;
  
}
.detailshumidity{
  height: 100px;
  width: 100%;
  background-color: burlywood;
}
.detailsSun{
  height: 111px;
  width: 100%;
  background-color: chartreuse;
}
