* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}
#root {
  height: 100%;
  width: 100%;
  background: rgb(3, 7, 17);
  background: linear-gradient(
    180deg,
    rgba(3, 7, 17, 1) 0%,
    rgba(0, 59, 125, 1) 37%,
    rgba(0, 161, 238, 1) 100%
  );
}
.App {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.main {
  height: 100%;
  width: 100%;
  background: rgb(3, 7, 17);
  background: linear-gradient(
    180deg,
    rgba(3, 7, 17, 1) 0%,
    rgba(0, 59, 125, 1) 37%,
    rgba(0, 161, 238, 1) 100%
  );
  
  /* overflow-y: scroll; */
}

/** menu button in navbar */
.sidebar {
  width: 50%;
  height: 100%;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
  background-color: rgba(255, 255, 255, 0.062);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 64px;
  left: -100%;
  z-index: 5;
  transition: 0.5s;
}
.sidebar.active {
  left: 0;
}
.sd-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 1px; */
}
.sidebar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.sidebar-overlay.active {
  visibility: visible;
}
.sd-body {
  padding: 15px;
  /* max-height: calc(100vh - 67px); */
  position: absolute;
  top: 0;
  overflow-x: hidden;
}
.sd-body ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* margin-bottom: 0;
  padding: 0; */
}
.sd-link {
  margin-bottom: 8px;
  display: flex;
  width: 100%;
  padding: 10px 16px;
  color: #ffffff;
  /* border-radius: 50px; */
  cursor: pointer;
}
.nav_link.active {
  color: #001244;

}
.nav_link {
  color: #001244;
  font-size: 18px;
}
.sd-body ul li {
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  min-width: 80px;
  font-weight: 600;
}

.sd-body ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.sd-body ul li:hover::after {
  transform-origin: left;
  transform: scale(1);
}

/**Background images */
.clearSky {
  background-image: url("https://images.unsplash.com/photo-1601297183305-6df142704ea2?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.clouds {
  background-image: url("https://images.unsplash.com/photo-1501630834273-4b5604d2ee31?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.thunderstorm {
  background-image: url("https://static.vecteezy.com/system/resources/previews/027/830/258/large_2x/lightning-strikes-on-a-cloudy-dramatic-stormy-sky-ai-generated-free-photo.jpg");
}
.drizzle {
  background-image: url("https://services.meteored.com/img/article/o-que-significa-realmente-a-percentagem-de-chuva-numa-aplicacao-do-tempo-meteorologia-1679524320171_1280.jpg");
}
.rain {
  background-image: url("https://img.rasset.ie/0014ae8c-500.jpg");
}
.snow {
  background-image: url("https://img.rasset.ie/0014ae8c-500.jpg");
}
.mist {
  background-image: url("https://img.rasset.ie/0014ae8c-500.jpg");
}
.haze {
  background-image: url("https://www.komar.de/media/catalog/product/cache/4/image/9df78eab33525d08d6e5fb8d27136e95/I/F/IFSH4-073.jpg");
}
.dust {
  background-image: url("https://www.komar.de/media/catalog/product/cache/4/image/9df78eab33525d08d6e5fb8d27136e95/I/F/IFSH4-073.jpg");
}
.fog {
  background-image: url("https://images.pexels.com/photos/45222/forest-fog-nature-winter-45222.jpeg?cs=srgb&dl=pexels-pixabay-45222.jpg&fm=jpg");
}
/* .default {
  background-image: url("https://en.ammonnews.net/img/big/202079643RN572.jpeg?medium");
  background-repeat: no-repeat;
  background-size: cover;
} */

@media only screen and (min-width: 768px) {
  .sidebar {
    width: 25%;
  }
}

@media only screen and (min-width: 992px) {
  .sidebar {
    width: 20%;
  }
}
